extends ../layout

block content
  link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/material-dashboard@2.1.0/assets/css/material-dashboard.min.css')
  link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/material-dashboard@2.1.0/assets/demo/demo.min.css')
  link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css')
  .content
    .container-fluid
      .row
        .col-md-4
          .card.card-chart
            .card-header.card-header-success
            .card-body
              h4.card-title Sensors Data
              p.card-category
                span.text-success
                  |  
            .card-footer
              .stats
                |  updated
        .col-md-4
          .card.card-chart
            .card-header.card-header-warning
            .card-body
              h4.card-title Notifications
              p.card-category Last Notifications
            .card-footer
              .stats
                |  
        .col-md-4
          .card.card-chart
            .card-header.card-header-danger
            .card-body
              h4.card-title System Status
              p.card-category
                p.ma-2(style='float: left; margin: 5px;') OFF
                label.switch(style='float: left;')
                  input(type='checkbox' id="system-toggle")
                  span.slider.round
                p(style='float: left;margin: 5px;') ON
        .col-lg-6.col-md-6
          .card
            .card-header.card-header-warning
              h4.card-title Predicted Images
              p.card-category These pictures are updated every time there is someone near the safe
            .card-body.table-responsive
              table.table.table-hover
                thead.text-warning
        .col-lg-6.col-md-6
          .card
            .card-header.card-header-success
              h4.card-title Pictures From Camera
              p.card-category These pictures are updated every 15 seconds
            .card-body.table-responsive
              table.table.table-hover
                thead.text-warning
                
  script(src='https://code.jquery.com/jquery-3.5.1.js' integrity='sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=' crossorigin='anonymous') 
  script(src="/static/js/dashboard.js")


