extends ../layout

block content
  link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/material-dashboard@2.1.0/assets/css/material-dashboard.min.css')
  link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/material-dashboard@2.1.0/assets/demo/demo.min.css')
  link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css')
  link(rel='stylesheet' href='  https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/css/splide.min.css')
  .content
    .container-fluid
      .row
        .col-md-4
          .card.card-chart
            .card-header.card-header-warning
            .card-body
              h4.card-title Notifications
              p.card-category Last Notifications
                .notifcationsMessages
                
        .col-md-4
          .card.card-chart
            .card-header.card-header-danger
            .card-body
              h4.card-title System Status
              p.card-category
                p.ma-2(style='float: left; margin: 5px;') OFF
                label.switch(style='float: left;')
                  input(type='checkbox' id="system-toggle")
                  span.slider.round
                p(style='float: left;margin: 5px;') ON
        .col-lg-4.col-md-4
          .card
            .card-header.card-header-warning
              h4.card-title Predicted Images
              p.card-category These pictures are updated every time there is someone near the safe
            .card-body.table-responsive
              table.table.table-hover
                thead.text-warning
                  .splide1
                    .splide__track1
                      ul.splide__list1
        .col-lg-6.col-md-6
          .card
            .card-header.card-header-success
              h4.card-title Pictures From Camera
              p.card-category These pictures are updated every 15 seconds
                input#picturesTime.form-control(type='text' placeholder='Number of minutes' name="limit")
                button.btn.btn-dark(type='submit' id="getImages") Get images
            .card-body.table-responsive
              table.table.table-hover
                thead.text-warning
                  .splide
                    .splide__track
                      ul.splide__list
        .col-lg-6.col-md-6
          .card.card-chart
            .card-header.card-header-success
              h4.card-title Sensors Data
              p.card-category To get sensors data in minutes
            .card-body
              input#sensorData.form-control(type='text' placeholder='Number of minutes' name="sensorData")
              input#sensorDataType.m-2(type='radio' name='sensorDataType' value='x')
              label(for='x') x
              input#sensorDataType.m-2(type='radio' name='sensorDataType' value='y')
              label(for='y') y
              input#sensorDataType.m-2(type='radio' name='sensorDataType' value='z')
              label(for='z') z
              input#sensorDataType.m-2(type='radio' name='sensorDataType' value='proximity')
              label(for='proximity') proximity
              button.btn.btn-dark(type='submit' id="getSensorData") Get Sensor Data
              p.card-category
                span.text-success
                  canvas#sensorDataCanvas(width='400' height='400')
            .card-footer
              .stats
                |  updated

  script(src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js")
  script(src='https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js')
  script(src='https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js')
  script(src='https://code.jquery.com/jquery-3.5.1.js' integrity='sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=' crossorigin='anonymous') 
  script(src="/static/js/dashboard.js")


