extends ../layout

block content
    .background
        .col-lg-4.col-md-4.col-sm-4.container.justify-content-center
            h1.text-center  #{title}
            form(id="login")
                .form-group
                    label(for='email') Email address
                    input#email.form-control(type='email' aria-describedby='emailHelp' placeholder='Enter email' name="email")
                    small#emailHelp.text-danger
                .form-group
                    label(for='password') Password
                    input#password.form-control(type='password' placeholder='Password' name="password")
                    small#passwordHelp.text-danger
                button.btn.btn-dark.rounded-0(type='submit' id="loginButton") Login

    script(src='https://code.jquery.com/jquery-3.5.1.js' integrity='sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=' crossorigin='anonymous')
    script(src="static/js/login.js")