extends ../layout

block content
    .col-lg-4.col-md-4.col-sm-4.container.justify-content-center
        h1.mx-auto #{title}
        form(id="register" action="/register" method="post")
            .form-group
                label(for='name') Your full Name
                input#name.form-control(type='name' aria-describedby='nameHelp' placeholder='Enter Your Full Name')
                small#emailHelp.form-text.text-muted
            .form-group
                label(for='email') Email address
                input#email.form-control(type='email' aria-describedby='emailHelp' placeholder='Enter email')
                small#emailHelp.form-text.text-muted
            .form-group
                label(for='password') Password
                input#password.form-control(type='password' placeholder='Password')
            button.btn.btn-success(type='submit') Register

