extends layout
block content
    .col-lg-4.col-md-4.col-sm-4.container.justify-content-center
        h1.text-center Welcome to #{ title }
        h3.text-center Your unbreakable safe    
            hr
            img(src="https://cdn.onlinewebfonts.com/svg/img_204358.png", alt="alt" style='width: 450px; height:500px')