.main-background.container {

  background-image: url('https://app.vysor.io/img/background.jpg');
}
body {
  height: 100%;
  background-image: url('/static/images/5fd5eb2fee492.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.purple-card {
  background: linear-gradient(256deg, rgba(96,24,168,1) 0%, rgba(106,41,171,1) 51%, rgba(155,60,250,1) 100%) !important;
}
#alert {
  visibility: hidden;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #56AE59;
}

input:focus + .slider {
  box-shadow: 0 0 1px #56AE59;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}